@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto&display=swap");

body {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  color: rgb(206, 206, 206);
  letter-spacing: 0.1em;
  font-size: 8vh;
  font-family: "Cookie", cursive;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
  color: white;
}

.btn-reset {
  padding: 2vh 4vw;
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  background: rgb(25, 172, 180);
  cursor: pointer;
}

.btn-reset:hover {
  background: rgb(17, 129, 135);
}

label {
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 3vh;
}

#grid-size {
  height: 4vh;
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
}

#grid-submit {
  padding: 1vh 2vw;
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  background: rgb(87, 97, 89);
  cursor: pointer;
  margin-top: 3vh;
}

.grid-container {
  background: white;
  border: 5px solid black;
  padding: 0;
  margin: 0;
  height: 575px;
  width: 575px;
  display: inline-grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background: rgb(232, 230, 230);
  border: solid 1px black;
}

.fill {
  background: gray;
  border: solid 1px black;
}
